#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# This has to be exported to make some magic below work.
export DH_OPTIONS

PACKAGE	  := gites-website
CURDIR    := $(shell pwd)
BUILDDIR  := $(CURDIR)/tmp/$(PACKAGE)
DEBIAN    := $(CURDIR)/debian/$(PACKAGE)
INSTALLDIR   := /home/gdw/$(PACKAGE)

distribution := $(shell lsb_release -is)

clean:
	#rm -rf $(BUILDDIR)/
	dh_testdir
	dh_testroot
	rm -rf build
	rm -f build-stamp
	dh_clean

build:
	mkdir -p $(BUILDDIR)
	cp -ap ./bootstrap.py $(BUILDDIR)
	cp -ap ./*.cfg $(BUILDDIR)
	cd $(BUILDDIR) && virtualenv .
	rm -f $(BUILDDIR)/buildout.cfg
	mkdir -p $(BUILDDIR)/eggs
	cd $(BUILDDIR) && ln -s base.cfg buildout.cfg
	cd $(BUILDDIR) && bin/python bootstrap.py --eggs=$(BUILDDIR)/eggs buildout:eggs-directory=$(BUILDDIR)/eggs
	cd $(BUILDDIR) && bin/buildout -c base.cfg buildout:eggs-directory=$(BUILDDIR)/eggs
	echo $(DEBIAN)
	touch build-stamp

install:
	rm -rf $(DEBIAN)
	dh_testdir
	dh_testroot
	dh_clean -k -s
	dh_installdirs -s
	rm  ${BUILDDIR}/.mr.developer.cfg
	rm  ${BUILDDIR}/.installed.cfg
	rm  ${BUILDDIR}/versions-picked.cfg
	rm -fr ${BUILDDIR}/downloads
	mkdir -p $(DEBIAN)/home/gdw/$(PACKAGE)
	sed -i s%${BUILDDIR}%${INSTALLDIR}%g ${BUILDDIR}/bin/instance01
	sed -i s%${BUILDDIR}%${INSTALLDIR}%g ${BUILDDIR}/parts/instance01/bin/interpreter
	sed -i s%${BUILDDIR}%${INSTALLDIR}%g ${BUILDDIR}/parts/instance01/etc/zope.conf
	rm -r $(BUILDDIR)/parts/omelette
	cp -ap $(BUILDDIR)/bin $(DEBIAN)/${INSTALLDIR}
	cp -ap $(BUILDDIR)/devel $(DEBIAN)/${INSTALLDIR}
	cp -ap $(BUILDDIR)/eggs $(DEBIAN)/${INSTALLDIR}
	cp -ap $(BUILDDIR)/parts $(DEBIAN)/${INSTALLDIR}

	#rm -rf $(BUILDDIR)/

binary-common:
	dh_testdir
	dh_testroot

	dh_installchangelogs

	dh_installdocs
	dh_installdebconf
	dh_installinit
	dh_installman
	dh_link
	dh_strip
	dh_fixperms
	dh_shlibdeps
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary-indep: build install
	$(MAKE) -f debian/rules DH_OPTIONS=-i binary-common

binary-arch: install
	$(MAKE) -f debian/rules DH_OPTIONS=-a binary-common

binary: binary-arch

.PHONY: build clean binary install
